.logo {
    margin-left: 16px;
    width: 50px;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    color: black;
    padding: 16px;
}
.list-container {
    width: 400px;
    display: block;
    margin: auto;
    padding: 8px;
    border: 1px solid var(--ion-color-light);
    margin-bottom: 16px;
}
.help-data {
    border: 1px solid var(--ion-color-light);
    padding: 8px;
    margin-left: 16px;
    display: block;
    margin-bottom: 16px;
}
ion-avatar {
    position: relative;
    .floating-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 60px;
        transform: translateX(-50%) translateY(-50%);
    }
}
